* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --spotColor: aqua;
  --winingLine: red;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, minmax(50px, 150px));
}
.spot {
  aspect-ratio: 1 / 1;
  background-color: var(--spotColor);
  border: 1px solid black;
}
